.employee-list {
    &__add {
        input {
            flex: 1;
            margin-right: 20px;
        }
    }

    &__content {

        .btn-assign,
        .btn-remove {
            margin-right: 10px;
        }

        .employee-name {
            padding: 9px 0;
        }
    }
}

@media screen and (max-width: 500px) {
    .employee-list {
        &__add {
            input {
                width: 100%;
                margin-right: 10px;
            }
        }

        &__content {
            input {
                width: 100%;
            }
        }
    }
}