.login-form {
    max-width: 400px;

    text-align: center;

    img {
        width: 100%;
        margin-bottom: 30px;
    }

    h1,
    input {
        margin-bottom: 10px;
    }

    button {
        font-size: var(--text-2xl);
    }
}

@media screen and (max-width: 500px) {
    .login-form {
        width: calc(100% - 20px);
    }
}