nav {
    padding: 12px 20px;
    background-color: var(--black);

    color: white;

    a {
        flex: 1;

        color: white;
        font-size: var(--text-2xl);
        font-weight: bold;

        img {
            width: 20px;
            vertical-align: -5px;
            margin-right: 6px;
        }
    }

    .welcome-text {
        margin-right: 20px;

        font-size: var(--text-xl);

        strong {
            font-size: var(--text-2xl);
        }
    }
}

@media screen and (max-width: 500px) {
    nav {
        padding: 12px 10px;
        justify-content: space-between !important;

        .logo-text {
            display: none;
        }

        span {
            margin-right: 10px;
        }
    }
}