nav {
    padding: 12px 20px;
    background-color: var(--black);

    color: white;

    img,
    h2 {
        cursor: pointer;
    }

    img {
        width: 20px;
    }

    h2 {
        margin-left: 6px;
        flex: 1;
    }

    span {
        margin-right: 20px;

        font-size: var(--text-xl);

        strong {
            font-size: var(--text-2xl);
        }
    }
}

@media screen and (max-width: 500px) {
    nav {
        padding: 12px 10px;
        justify-content: space-between !important;

        h2 {
            display: none;
        }

        span {
            margin-right: 10px;
        }
    }
}